body {
  background-color: black;
  color: white;
}

nav {
  color: red;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 15px;
  cursor: pointer;
}

.selfie-container {
  display: flex;
}
.selfie-img {
  border: 2px solid white;
  margin: 20px;
}

.projects-container {
  color: red;
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: burlywood;
}

p {
  max-width: 300px;
  margin-left: 100px;
}
